.about_hero_section {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px 0;
}

.about_hero_section .about_hero_container {
   width: 90%;
   height: 100%;
   display: flex;
   align-items: start;
   justify-content: center;
   gap: 20px;
}

.about_hero_section .about_hero_container .col {
   flex: 1;
}

.about_hero_section .about_hero_container .col .img_container {
   width: 100%;
   height: 100%;
   border-radius: 10px;
   overflow: hidden;
}

.about_hero_section .about_hero_container .col .img_container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: flex;
   transition: all 0.5s linear;
   cursor: pointer;
}

.about_hero_section .about_hero_container .col .img_container:hover img {
   scale: 1.1;
   rotate: 5deg;
}

.about_hero_section .about_hero_container .col .section_header_container {
   width: 100%;
}

.about_hero_section .about_hero_container .col .section_header_container .sub_head {
   color: var(--marker-color);
}

.about_hero_section .about_hero_container .col .section_header_container .main_head {
   color: var(--light-color);
   font-size: clamp(1.2em, 3vw, 3em);
}

.about_hero_section .about_hero_container .col .content_container {
   color: var(--light-color-2);
   font-size: 14px;

}

.about_hero_section .about_hero_container .col .content_container p {
   padding: 10px 0;
}

.about_hero_section .about_hero_container .col .content_container .list_content_container li {
   list-style: none;
   padding: 10px 0;
}

.about_hero_section .about_hero_container .col .content_container .list_content_container li i {
   padding: 0 10px;
   color: var(--secondary-color);
}

.about_team_section {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.about_team_section .about_team_container {
   width: 90%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.about_team_section .about_team_container .section_header_container {
   width: 100%;
}

.about_team_section .about_team_container .section_header_container .sub_head {
   color: var(--marker-color);
}

.about_team_section .about_team_container .section_header_container .main_head {
   color: var(--light-color);
   font-size: clamp(1.2em, 3vw, 3em);
}

.about_team_section .about_team_container .content_container {
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 20px;
}

.about_team_section .about_team_container .content_container .team_card {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   padding: 20px;
   margin: 10px;
   border-radius: 10px;
   background: var(--dark-primary-color);
   cursor: pointer;
}

.about_team_section .about_team_container .content_container .team_card .text_container {
   color: var(--light-color);
   padding: 20px 0;
}

.about_team_section .about_team_container .team_card .img_container {
   width: 100%;
   height: 100%;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
}

.about_team_section .about_team_container .team_card .img_container .social-media-team {
   position: absolute;
   top: 25%;
   right: -100px;
   transition: all 0.5s linear;
}

.about_team_section .about_team_container .team_card:hover .img_container .social-media-team {
   right: 10px;
}

.about_team_section .about_team_container .team_card .img_container .social-media-team ul {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.about_team_section .about_team_container .team_card .img_container .social-media-team ul li {
   list-style: none;
   color: var(--light-color);
   background: var(--marker-color);
   padding: 10px 15px;
   width: fit-content;
   border-radius: 50%;
   font-size: 18px;
   transition: all 0.5s linear;
}

.about_team_section .about_team_container .team_card .img_container .social-media-team ul li:hover {
   background: var(--secondary-color);
}

.about_team_section .about_team_container .team_card .img_container img {
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
}